segmentation-models-pytorch
torch
PageXML-to-Mask-converter
torchvision
pillow
numpy
ttach
setuptools
matplotlib
pandas
seaborn
tqdm
albumentations
scikit-image
opencv-python-headless
sklearn
ezodf
lxml
shapely
future
scikit-learn
dataclasses
scikit-learn
scipy
loguru
doxapy
mashumaro
efficientnet-pytorch